/*topbar styling*/

nav{
    width: 100%;
    background-color: black;
}
*topbar {
    width: 37%;
    height: 15vh;
    color: blue;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}